
{% extends "bootstrap/base.html" %}

{% block title %}Wikipedia Summary{% endblock %}

{% block head %}
  {{super()}}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/images/wikipedia-logo.png" rel="shortcut icon">
  <link href="/static/css/index.css" type="text/css" rel="stylesheet" >
{% endblock %}

{% block navbar %}
<div id="navbar" class="navbar navbar-fixed-top nav" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand nav_a" href="/">
          Wikipedia Summary
        </a>
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
<br><br><br>
<div class="container" id="content">

  <div class="page-header">

    <p style="text-align:center">
      <img src="/static/images/wikipedia_logo.png" alt="Wikipedia_logo" width=20%>
    </p>

  </div>

  <div class="row" id="inputBar" style="margin:0 20%;">
    <div class="input-group" style="text-align:center" >
      {% if q %}
        <input id="inputField" type="text" class="form-control" value = {{ q }}>
      {% else %}
        <input id="inputField" type="text" class="form-control">
      {% endif %}
        <span class="input-group-btn">
          <button id="searchBtn" class="btn btn-default" type="button">ES!</button>
          <button id="searchBtn2" class="btn btn-default" type="button">Solr!</button>
        </span>
    </div>
  </div>

  <br><br>

  {% if error %}

    <div class="alert alert-danger" role="alert">{{ error_msg }}</div>

  {% else %}

    {% if search_info %}
      <div class="alert alert-success" role="alert">{{ search_info }}</div>
    {% endif %}

    {% for result in results %}

      {% if result.text %}
      <div class="panel container visible-lg-block visible-md-block">
        <h3>{{ result.title|safe }}</h3>

            <div id="r_snippet" style="font-size:18px;text">{{ result.text|safe }}</div>
      </div>
      {% endif %}
    {% endfor %}

  {% endif %}
</div>
<div class="footer" id="footer">
  <div class="container">
    <br>
    <p>Powered by flask, elasticsearch</p>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script type="text/javascript" src="/static/js/index.js"></script>
  <script type="text/javascript">
  $(document).ready(function () {
  });
  </script>

{% endblock %}
